<div class="sidebar sticky-top">        
    <!-- <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div> -->
    <div class="sidebar-section">
        <h5><span>Contact Us</span></h5>
        <a class="nav-link px-3 ml-2 btn btn-dark text-white px-3" href="/contact/" alt="Send A Message" target="_blank">Get this theme</a>

    <div class="sidebar-section">
        <h5><span>Schedule Example</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div>
</div>